.snap-x {
	scroll-snap-type: x mandatory;

	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
.snap-start {
	scroll-snap-align: start;
}

.Modal {
	position: absolute;
	max-width: 1200px;
	height: 579px;
	background-color: transparent;
	z-index: 999;
	color: white;
	outline: none;
	background-color: rgba(0, 0, 0, 0.8);
}
.Overlay {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
}

.info-img {
	border-radius: 9.78169px;
	transform: matrix(0.71, -0.41, 1.22, 0.71, 0, 0);
}
